@import "~github-markdown-css/github-markdown.css" /* required by Math */
@import "~katex/dist/katex.min.css"                /* required by Math */

/* https://vuepress.vuejs.org/theme/inheritance.html#access-parent-theme */
.home,
.content__default,
.theme-default-content
  max-width 99% !important
