/* https://vuepress.vuejs.org/theme/inheritance.html#access-parent-theme */
//.content:not(.custom)
//.theme-default-content,
.home,
.content__default,
.theme-default-content
  max-width 99% !important
